<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav>
    <ul>
        <li><a href="/autores">Volver</a></li>
        <li><a href="/autores/insert">Inserta</a></li>
        <li><a href="/autores/show/1">Show by ID</a></li>
        <li><a href="/autores/update/1">Update by ID</a></li>
        <li><a href="/autores/delete/1">Delete by ID</a></li>
    </ul>
</nav>
<table>
    <tr th:each="autor: ${autores}">
        <td th:text="${autor.id}" />
        <td th:text="${autor.nombre}" />
        <!--td th:text="${phone.details.provider}" /-->
    </tr>
</table>
</body>
</html>